<style>
	.btn-focus,
	.btn-focus:hover,
	.btn-focus:active,
	.btn-focus.active,
	.show>.btn-focus.dropdown-toggle {
		background: #fed51b;
		border: none;
	}

	.m-checkbox.m-checkbox--focus>input:checked~span,
	.m-checkbox.m-checkbox--focus>span:after {
		border-color: #0d71b9;
	}

	.m-link,
	.m-link:hover {
		color: #0d71b9;
	}
</style>

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin"
 id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__signin">
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" id="login" type="text" placeholder="Login" name="login" autocomplete="off">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Senha" name="password">
							</div>
							<div class="row m-login__form-sub">
								<div class="col m--align-left">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="remember"> Lembrar de mim
										<span></span>
									</label>
								</div>
								<div class="col m--align-right">
									<a href="javascript:;" id="m_login_forget_password" class="m-link">
										Esqueceu a senha?
									</a>
								</div>
							</div>
							<div class="m-login__form-action">
								<a (click)="signin()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Entrar
								</a>
							</div>
						</form>
					</div>
					<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Esqueceu a senha?
							</h3>
							<div class="m-login__desc">
								Entre seu email para receber uma nova senha:
							</div>
						</div>
						<form class="m-login__form m-form" action="">
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
							</div>
							<div class="m-login__form-action">
								<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Enviar
								</button>
								<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
									Cancelar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>