body{
    background: #f2f3f4;
}
a, a:hover{
    color: #fff;
}

/* layout */
.m-header .m-header__top, .m-brand{
    background: #0d71b9;
    color: #fff;
}
.m-header .m-header__bottom{
    background: #095796;
}
.m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link > .m-menu__item-here{
    color: #095796;
}
.m-header-search .m-header-search__wrapper{
    background: #0d71b9;
}
.m-header-search .m-header-search__input, .m-header-search .m-header-search__icon-search > i{
    color: #fff;
}
.m-loader.m-loader--azul:before {
    border-top-color: #095796;
}
.m-header-menu.m-header-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{
    color: #fff;
}
.m-brand .m-brand__tools .m-brand__icon > i, .m-brand .m-brand__tools .m-brand__icon:hover > i{
    color: #fff;
}
@media (max-width: 992px) {
    .m-header-menu.m-aside-header-menu-mobile .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{
        color: #095796;
    }
    .m-topbar__nav a{
        color: #095796;
    }
    .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text{
        color: #095796;
    }
}

.m-brand .m-brand__tools .m-brand__toggler span, .m-brand .m-brand__tools .m-brand__toggler span:after, .m-brand .m-brand__tools .m-brand__toggler span:before, .m-brand .m-brand__tools .m-brand__toggler:hover span, .m-brand .m-brand__tools .m-brand__toggler:hover span:after, .m-brand .m-brand__tools .m-brand__toggler:hover span:before{
    background: #fff;
}
.m-brand .m-brand__tools .m-dropdown .btn{
    color: #fff;
    border-color: #fff;
}
.m-brand .m-brand__tools .m-dropdown .btn:hover{
    border-color: #095796;
    background-color: #095796;
}
.m-brand .m-brand__tools .m-dropdown .btn:focus{
    border-color: #fff;
}
.m-footer{
    z-index: 998;
    position: fixed;
    width:  100%;
    background: #fed21b;
    bottom: 0;
}
.m-scroll-top--shown .m-scroll-top{
    z-index: 999;
}
.m-form .m-form__section{
    font-size: inherit;
    font-weight: initial;
}
.m-nav > .m-nav__item:hover > .m-nav__heading .m-nav__link-icon, .m-nav > .m-nav__item:hover > .m-nav__heading .m-nav__link-text, .m-nav > .m-nav__item:hover > .m-nav__link .m-nav__link-icon, .m-nav > .m-nav__item:hover > .m-nav__link .m-nav__link-text, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__heading .m-nav__link-icon, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__heading .m-nav__link-text, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text{
    color: #0d71b9;
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single, .bootstrap-select.btn-group.show > .dropdown-toggle.btn-default, .bootstrap-select.btn-group.show > .dropdown-toggle.btn-secondary, .form-control:focus{
    border-color: #0d71b9 !important;
}
.btn-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
    background-color: #0d71b9;
    border-color: #0d71b9;
}
.btn-primary:hover{
    background-color: #095796;
    border-color: #095796;
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: #095796;
    border-color: #095796;
}
.datepicker tbody tr > td.day.selected, .datepicker tbody tr > td.day.selected:hover, .datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.active:hover{
    background: #095796;
}
.m-dropdown.m-dropdown--header-bg-fill.m-dropdown--arrow .m-dropdown__arrow{
    color: #ffffff;
}
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active{
    background: #095796;
}
.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last{
    color: #095796;
}
.m-datatable.m-datatable--default > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell > span > i{
    color: #095796;
}
.m-datatable.m-datatable--default.m-datatable--loaded > .m-datatable__table > .m-datatable__body .m-datatable__row{
    height: auto !important;
}

/* personalizado */
app-alunos {
    width: 100%;
}
#inp_busca::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
#inp_busca:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
#inp_busca::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
#inp_busca:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
#inp_busca::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

#inp_busca::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
.btn-padrao{
    background: #0066a5;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .5s;
    border: none;
    cursor: pointer;
}
.btn-padrao:hover{
    background: #286090;
    color: #ffffff;
    text-decoration: none;
}
.btn-padrao:focus{
    background: #0066a5;
    color: #ffffff;
    text-decoration: none;
}
.btn-padrao-sm{
    padding: 5px 10px;
}
.btn-padrao.fundo-laranja:hover{
    background: #e37d00;
}
.titulo-p-1{
    font-weight: 500;
}
.desc-p-1{
    font-size: 1.4rem;
}

/* helper */
.h-f-branco{
    color: #fff;
}


