<div class="m-content m--margin-bottom-30">
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">Professor</h3>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--label-align-right" novalidate [formGroup]="form">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            <input formControlName="id" style="display: none">

                            <div class="form-group m-form__group row" *ngFor="let field of fields" [ngSwitch]="field.type">
                                <label [for]="field.name" class="col-lg-3 col-form-label">{{ field.label }}:</label>

                                <div *ngSwitchCase="'checkbox'" class="col-lg-9">
                                    <div class="m-checkbox-list m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input [id]="field.name" type="checkbox" [formControlName]="field.name">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>                                

                                <div *ngSwitchDefault class="col-lg-9">
                                    <input [id]="field.name" [type]="field.type" class="form-control m-input" [formControlName]="field.name">
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-9">
                                    <button type="submit" class="btn btn-primary btn-padrao" (click)="salvar()">Salvar</button>
                                    <button type="reset" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>