<div class="m-page-loader m-page-loader--non-block app-loader">
    <div class="m-blockui">
        <span>Carregando...</span>
        <span>
            <div class="m-loader m-loader--brand"></div>
        </span>
    </div>
</div>

<router-outlet></router-outlet>

<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300" appunwraptag="">
	<i class="la la-arrow-up"></i>
</div>
