<footer class="m-grid__item m-footer ">
	<div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
		<div class="m-footer__wrapper">
			<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
				<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
				</div>
			</div>
		</div>
	</div>
</footer>