<header class="m-grid__item		m-header " data-minimize="minimize" data-minimize-offset="200" data-minimize-mobile-offset="200">
    <div class="m-header__bottom">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item " aria-haspopup="true" *ngFor="let item of options" 
                                    routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" >
                                <a routerLink="/{{ item.link }}" class="m-menu__link ">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">{{ item.opcao }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__user-profile m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                data-dropdown-toggle="click">

                                <a href="#" class="m-nav__link m-nav__link--diferenciado m-dropdown__toggle">
                                    <span class="m-topbar__userpic">
                                        <table>
                                            <tr>
                                                <td><i class="flaticon-user m--icon-font-size-lg3 m--margin-right-10"></i></td>
                                                <td>Usuario <i class="m-menu__hor-arrow la la-angle-down m--margin-left-5"></i></td>
                                            </tr>
                                        </table>
                                    </span>
                                </a>
                                
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light">
                                                    <li class="m-nav__item" *ngFor="let item of userOptions" >
                                                        <a routerLink="/{{ item.link }}"  class="m-nav__link">
                                                            <i class="m-nav__link-icon {{ item.icon }}"></i>
                                                            <span class="m-nav__link-text">{{ item.opcao }} </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item" (click)="logout()">
                                                        <a class="btn-padrao" style="color: white">Sair</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</header>