a, label[for] {
    cursor: pointer;
}

app-aluno, app-curso, app-professor {
    width: 100%;
}

app-grid-default {
    tbody {
        #col_editar, #col_excluir {
            text-align: center;
        }
    }

    thead {
        #col_id, #col_editar, #col_excluir {
            text-align: center;
            width: 80px;
        }
    }
}

.app-loader {
    margin-left: -80px; 
    margin-top: -20px;
}

.fa-thumbs-o-up, .fa-thumbs-o-down, .fa-edit, .fa-close {
    color: white;
}

sup.obrigatorio {
    color: red;
}
   
// PrimeNG

p-dropdown div {
    width: 100%;
}