<div class="m-content m--margin-bottom-30">
	<div class="row">
		<div class="col-md-12">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">Listagem</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<a routerLink="/{{ options.route }}" class="btn btn-primary m-btn m-btn--custom m-btn--icon" >
							<span>
								<i class="la la-user-plus"></i>
								<span>Novo</span>
							</span>
						</a>
					</div>
				</div>
				<form class="m-form m-form--label-align-right">
					<div class="m-portlet__body">
						<p-table #dt [columns]="colunas" [value]="dados" [resizableColumns]="true" [paginator]="true" [rows]="10" [reorderableColumns]="true">
							<ng-template pTemplate="caption">
								<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
								<input id="generalSearch" type="text" size="50" pInputText (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" autofocus>
							</ng-template>

							<ng-template pTemplate="header" let-columns>
								<tr>
									<th *ngFor="let col of columns" id="col_{{ col.field }}" [pSortableColumn]="(col.sortable ? col.field : null)" pResizableColumn>
										{{col.title}}<p-sortIcon *ngIf="col.sortable"  [field]="col.field"></p-sortIcon>
									</th>
								</tr>
							</ng-template>

							<ng-template pTemplate="body" let-rowData let-columns="columns">
								<tr>
									<td *ngFor="let col of columns" id="col_{{ col.field }}" [ngSwitch]="col.field" pReorderableColumns>
										<div *ngSwitchCase="'ativo'">
											<a class="btn ' + {{ rowData['ativo'] ? 'btn-success' : 'btn-danger' }} + ' m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
												<i class="fa ' + {{ rowData['ativo'] ? 'fa-thumbs-o-up' : 'fa-thumbs-o-down' }} + '"></i>
											</a>
										</div>

										<div *ngSwitchCase="'editar'">
											<a routerLink="/{{ options.route }}/{{ rowData['id'] }}" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
												<i class="fa fa-edit"></i>
											</a>
										</div>

										<div *ngSwitchCase="'excluir'">
											<a (click)="excluirDispatch(rowData['id'])" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill"><i class="fa fa-close"></i></a>
										</div>										

										<div *ngSwitchDefault>
											{{rowData[col.field]}}
										</div>
									</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>